html {
	scroll-behavior: smooth;
}



*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    padding: 10px 16px;
    border: 0px;
    background: #FFF;
    transition: all 0.3s ease; /* Smooth transition for color change */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.menu{
    display: flex;
    justify-content: center; /* Center menu items horizontally */
    align-items: center;
    flex-grow: 1; /* Allow the menu to grow and take up remaining space */
    margin: auto;
    list-style-type: none;
}

.menu li{
    margin-right: 20px;
} 

.menu li a{
	font-size: 20px;
	font-weight: bold;
	transition: color 0.3s ease;
}

.social-links{
    display: flex;
    justify-content: flex-end; /* Align link images to the right */
    align-items: center;
    margin: auto;
    list-style-type: none;
}

.social-links li{
    margin-right: 20px;
} 

.header h2{
    margin: 0;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;

  background: #4070f4;
  color: #FFF;
}

.header.scrolled {
    background-color: #4070f4; /* Change color on scroll */
    color: white;
}

.header .text-one{
	color: #4070f4;
	font-size: 50px;
	transition: color 0.3s ease;
}
.header.scrolled .text-one {
    color: white; /* Change text color to white on scroll */
}

.header.scrolled .menu li a{
	color: white;
}

#home {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 100px;
	padding-bottom: 100px;
    transition: all 0.3s ease; /* Smooth transition for color change */
    display: flex;
    justify-content: space-between;
}

.hover-btn {
    display: inline-block;
    background-color: #121212; /* Default button color */
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 1px solid #C0C0C0;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transition effect for color change */
}

.hover-btn:hover {
    background-color: #5a104e; /* Color on hover */
}

a {
    color: inherit; /* Use the parent's text color */
    text-decoration: none; /* Remove underline */
}



.hello{    
    height: 400px;
    font-size: 25px;
    color: black;
    background-color: #FFF;
    width: 100%;
}

.hello-text-one{
    font-size: 25px;
    color: #0E2431;
    font-weight: bold;
}

.hello-text-two{
    font-size: 75px;
    color: #0E2431;
}

.hello-text-three{
    font-size: 40px;
    color: #4070f4;
}

.resume-btn{
    margin-top: 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color:#4070f4;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    width:150px;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    color: #FFF;
    font-weight: normal;
    transition: all 0.4s ease;
}

.resume-btn:hover{
    border:2px solid #4070f4;
    background-color: #FFF;
    box-sizing: border-box;
    color:#4070f4;
}

.about-me {
	background-color: #f1f0fe;
}	

.about-me .center {
	text-align: center;
	font-size: 60px;
	font-weight: bold;
}

.about-me-heading{
	padding-top: 100px;
	padding-bottom: 50px;
	padding-left: 40px;
	padding-right: 40px;
	text-decoration: underline;
	text-underline-offset: 20px;
	text-decoration-color: #4070f4;
}

#skills-anchor{

}
.my-skills .flex-container{
	gap:30px;
	flex-wrap: wrap;
}
.flex-container{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-bottom: 100px;
}

.flex-container div{
	max-width: 600px;
}

.flex-container img{
	border: 2px solid transparent;
	border-radius: 15px;
}

.linkedin-btn{
    margin-top: 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color:#4070f4;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    width:200px;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    color: #FFF;
    font-weight: normal;
    transition: all 0.4s ease;
    font-size: 25px;
}

.linkedin-btn:hover{
    border:2px solid #4070f4;
    background-color: #FFF;
    box-sizing: border-box;
    color:#4070f4;
}

.am-text-headline{
	font-size: 30px;
	padding-bottom: 25px;
}

.am-text{
}

.my-skills{
	background-color: #FFF;
}

.my-skills .center {
	text-align: center;
	font-size: 60px;
	font-weight: bolder;
}

.my-skills-heading{
	padding-top: 100px;
	padding-bottom: 50px;
	padding-left: 40px;
	padding-right: 40px;
	text-decoration: underline;
	text-underline-offset: 20px;
	text-decoration-color: #4070f4;
}

.skill-card{
	padding:20px;
	min-height: 250px;
	min-width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	transition: all 0.3s ease;
}

.skill-card:hover{
	background-color: #4070f4;
	color: #FFF;
}

.skill-logo-circle{
	width:50px;
	border-radius:50px;
	background-color: white;
}

.skill-logo img{
	width: 50px;
}

.skill-name{
	font-size: 25px;
	font-weight: bold;
}

.skill-description{
	text-align: center;
}

#projects-anchor{
}

.my-projects{
	background-color: #f1f0fe;
}

.my-projects .center{
	text-align: center;
	font-size: 60px;
	font-weight: bolder;
}

.my-projects .flex-container{
	gap:30px;
	flex-wrap: wrap;
}

.my-projects .flex-container .skill-card{

}

.my-projects .flex-container .skill-card .skill-logo-circle{
	background-color: #f1f0fe;
}